body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('https://raw.githubusercontent.com/ulfrank2024/link_Bio/refs/heads/master/image/fond1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 0;
}

.container {
    width: 800px;
    margin: 50px auto;
    padding: 50px;
    background-color: #ffffffc4;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    max-width: 200px;
    margin: 0;
}

h1 {
    color: #333;
}

p {
    color: #555;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
}

.links a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    padding: 2px 0;
    background-color: #f3f0f0;
    box-shadow: 0 4px 10px rgba(42, 42, 112, 0.966);
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: start;
    height: 60px;
}

.links a:hover {
    background-color: #91b1d3b8;
    transform: scale(1.1);
}

.lien {
    color: black;
    width: 100px;
}

.logo_ji {
    width: 100px;
}

.logo_f {
    width: 50px;
}

.logo_m {
    width: 60px;
}


@media screen and (max-width: 768px) {
    body {
    height: 100vh;

     
    }

    .container {
        margin: 50px auto;
       width: 320px;
        padding: 20px;
    
    }

    .logo {
        max-width: 150px;

    }

    h1 {
        font-size: 1.5rem;
       
    }

    p {
        font-size: 1rem;
      
    }

    .links {
        gap: 10px;
     
    }

    .links a {
        height: 50px;
  
        font-size: 0.9rem;
      
    }

    .lien {
        width: 80px;
       
    }

    .logo_ji {
        width: 80px;
      
    }

    .logo_f {
        width: 40px;
    }

    .logo_m {
        width: 50px;
    }
}