body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('/image/fond.webp'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 768px;
    max-height:100vh ;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffffc4;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    max-width: 200px;
    margin-bottom: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #555;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
  }
  
  .links a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    padding: 1px 0;
    background-color: #ffffff;
    color: white;
    box-shadow: 0 4px 10px rgba(42, 42, 112, 0.904);
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    text-align: start;
    height: 60px;
  }
  
  .links a:hover {
    background-color: #2283eab8;
    transform: scale(1.1);
  }
  

  .lien{
    color:black;
    width: 100px;

  }
  .logo_ji{
    width: 100px; 
  }
  .logo_f{
    width: 50px; 
  }
  .logo_m{
    width: 60px; 
  }